/* Style for Navigation Bar */
.container_navbar {
    width:90%;
    margin:0 auto; 
}

header{
    background-color:#31708E;
}

header::after{
    content:'';
    display:table;
    clear:both;
    transition: all ease-in-out 300ms;
}

.nav_title {
    font-size: x-large;
    color:#F7F9FB;
    text-align: center;
    float:left;
    padding-top: 10px;
    margin:0px;
    font-style: italic;
}

nav{
    float:right;
}

nav > ul{
    margin:0;
    padding:0;
    list-style: none; 
    position:relative;
}

nav > ul > li{
    display: inline-block;
    margin-left: 50px;
    padding-top: 17px;
    position: relative;
}

nav > ul > li > a{
    color: #F7F9FB;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav > ul > li >a:hover{
    color:#454849;
}

nav > ul > li > a::before{
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #454849;
    position: absolute;
    top:2px;
}

nav > ul > li > a:hover::before{
    width: 100%;
    transition: all ease-in-out 300ms;
}


li .dropdown{
    display: inline-block;
    padding:20px 0;
}

.dropdown_menu{
    display:none;
    position: absolute;
    top:40px;
    padding-top: 10px;
    background-color:#31708E;
    min-width:160px;
    z-index: 1;
}

.dropdown_menu ul{
    list-style: none;
}

.dropdown_menu a{
    color: #F7F9FB;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown_menu a:hover{
    color:#454849;
}

.dropdown:hover .dropdown_menu{
    display: block;

}

.active{
    color:#454849;
}

/* Home page styles */
.container-fluid, .content{
    width:100%;
}

.box_home_figs {
    background-color: rgb(248,249,251);
    padding: 2%;
    width:100%;
}

.box_fig img{
    width:100%; 
    height: auto
}

/* Style for Data Table */
.datatable table {
    width: 100%;
    padding-top: 5px;
}
.datatable table, td, th {
    border: 1px solid black;
}
  
.datatable table {
    width: 100%;
    border-collapse: collapse;
}

.datatable thead {
    text-align: center;
    font-weight:bold;
}

.datatable tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style for Visualizations */
.analysis{
    max-width:100%;
    max-height: auto;
}
.box img{
    max-width:100%;
    max-height: auto;
}

.cloudy_img img{
    max-width:100%;
    max-height: auto;
}

@media (min-width: 1360px){
    .col-custom-lg-6 {
        float: left;
        width: 16.66666667%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
